<h1>Welcome to the finance tracker app</h1>
<p class="lead">Created with Udemy's online course <%= link_to 'The Complete Ruby on Rails Developer Course', 'https://www.udemy.com/the-complete-ruby-on-rails-developer-course/#/' %>.</p>

